<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="../static/form-styles.css">
    </head>
    <body>
        {% import "bootstrap/wtf.html" as wtf %}
        <h1> {{ header }} </h1>
        {% with messages = get_flashed_messages() %}
            {% if messages: %}
                <h3> {{ messages[0] }} </h3>
            {% endif %}
        {% endwith %}
        {{ wtf.quick_form(form, novalidate=True) }}
        {{ wtf.form_errors(form, hiddens="only") }}
    </body>
</html>